/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {
margin: 0px;
font-family: sans-serif;
}

article {
max-width: 75%;
margin-left: 1.5em;
}

h1 {
font-family: sans-serif;
}

img {
max-width: 100%;
}
